<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  IgnorableNamespaces="uap mp uap6">

  <Identity
    Name="C6DA515B-6695-445E-9242-D3F0422C461E"
    Publisher="CN=7A537518-70A8-4E95-92D0-C9C01C6D6A87"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="ec0cc741-fd3e-485c-81be-68815c480690" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>AzureXamarinPOC.UWP</DisplayName>
    <PublisherDisplayName>7A537518-70A8-4E95-92D0-C9C01C6D6A87</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TestSample.UWP.App">
      <uap:VisualElements
        DisplayName="TestSample.UWP"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TestSample.UWP"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
            <uap:ShowOn Tile="square310x310Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

	<Capabilities>
		<Capability Name="internetClient" />
		<Capability Name="internetClientServer"/>
		<uap6:Capability Name="graphicsCapture"/>
		<DeviceCapability Name="microphone"/>
		<DeviceCapability Name="webcam"/>
		<DeviceCapability Name="location"/>
	</Capabilities>
	<Extensions>
		<Extension Category="windows.activatableClass.inProcessServer">
			<InProcessServer>
				<Path>RtmMvrUap.dll</Path>
				<ActivatableClass ActivatableClassId="VideoN.VideoSchemeHandler" ThreadingModel="both" />
			</InProcessServer>
		</Extension>
	</Extensions>
</Package>
